services:
  - type: web
    name: n8n-service
    env: docker
    plan: free
    autoDeploy: true

    envVars:
      - key: DB_TYPE
        value: postgresdb

      - key: DB_POSTGRESDB_PORT
        value: "5432"

      - key: DB_POSTGRESDB_SSL
        value: "true"

    disk:
      name: n8n-data
      mountPath: /home/node/.n8n
      sizeGB: 1
